/*-----------------------------------------------------------------------------------*/

*{
	text-align: center;
  box-sizing: border-box;
}

.bgd{
	background-image: linear-gradient(-45deg, #E8EBED, #F3FAFF);
	/*height: 800px;*/
  height: 52.083333333333336vw;
  max-width: 100%;
	background-position: center; 
  background-repeat: no-repeat; 
  -webkit-background-size: cover; 
}
@media screen and (max-width: 600px) {
  .bgd {
  height: 559px; }
}

.divw{
	/*width: 1154px;*/
  width: 80.13888888888889vw;
	margin: auto;
	flex-wrap: nowrap;
	/*background-color: #cccccc*/
}
@media screen and (max-width: 600px) {
  .divw {
  height: 559px; 
  width: 65%;}
}
.divwork{
	/*width: 953px;*/
  width: 66.18vw;
	/*height: 55.55555555555556vw;*/
	margin: auto;
	flex-wrap: nowrap;
  /*display: block;*/
	/*background-color: #cccccc*/
}
@media screen and (max-width: 600px) {
  .divwork {
  width: 257px;
  /*height: 1850px;*/
  margin: auto;
  /*background-color: #cccccc*/
  }
}

.h1-1{
	font-family: "HelveticaNeue-CondensedBold";
	color: #2D363D;	
	letter-spacing: -0.28402777777777777vw;
	/*line-height: 162px;*/
  line-height:  11.25vw;
	/*font-size: 160px;*/
  font-size: 11vw;
	/*padding-bottom: 76px;*/
  padding-bottom: 5.277777777777778vw;
	
}
@media screen and (max-width: 600px) {
  .h1-1 {
  letter-spacing: -1.34px;
  line-height: 50px;
  font-size: 55px;
   }
}

.h1-2{
	font-family: "HelveticaNeue-Bold";
	color: #73A3DC;	
	/*font-size: 30px;*/
  font-size: 2.08vw;
	/*padding-bottom: 78px;*/
  padding-bottom: 5.416666666666667vw;
	/*padding-top: 70px;*/
  padding-top: 4.861111111111111vw;
}
@media screen and (max-width: 600px) {
  .h1-2 {
  font-size: 20px;
  padding-bottom: 78px;
  padding-top: 69.99999999999999px;
   }
}

.h1-3{
	font-family: "HelveticaNeue-Bold";
	color: #83919C;	
	/*font-size: 40px;*/
  font-size: 2.77vw;
}
@media screen and (max-width: 600px) {
  .h1-3 {
  font-size: 20px;
  padding-top: 42px;
  padding-top: 69.99999999999999px;
   }
}

/*---------------------------------------------------*/
/*WORK CSS*/
.dontshow{

}
@media screen and (max-width: 600px) {
  .dontshow {
    display: none;
  }
}

.h2-1{
  font-family: 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif;
  font-weight: normal;
  color: #2D363D; 
  font-size: 3.4722222222222223vw;
  /*margin-left: 0.5555555555555556vw;*/
  margin-bottom: 3.611111111111111vw;
  margin-top: 9.027777777777779vw;
  text-align: left;
}
@media screen and (max-width: 600px) {
  .h2-1 {
  font-size: 40px;
  /*margin-left: 8px;*/
  margin-bottom: 25px;
  margin-top: 55px;  }
}

button{
    /*display: inline-block;*/
    height: 15vw;
    width: 20.833333333333332vw;
    padding: 0px;
    /*margin-left: 19px;*/
    /*margin-right: 19px;*/
    /*margin-bottom:126px;*/
    border: 0px;
    border-radius: 0.7638888888888888vw;
    vertical-align: top;  
    cursor: pointer; 
}
@media screen and (max-width: 600px) {
  .button {
    height: 184px;
    width: 255px;
    /*max-width: 255px;*/
    border-radius: 11px;
  }
}
.mfp img {
    display: block;
    height: 15vw;  
    width: 20.833333333333332vw;
}
@media screen and (max-width: 600px) {
  .mfp img {
    height: 184px;
    width: 255px;
    max-width: 255px;
  }
}
#sh img {
    /*padding-right: 10px;*/
    display: block;
    vertical-align: center;
    height: 15vw;  
    width: 20.833333333333332vw;   
}
@media screen and (max-width: 600px) {
  #sh img {
    height: 184px;
    width: 255px;
  }
}
#tern img {
    display: block;
    vertical-align: center;
    height: 15vw;  
    width: 20.833333333333332vw;
    
}
@media screen and (max-width: 600px) {
  #tern img {
   height: 184px;
    width: 255px;
  }
}
#neatly img {
    display: block;
    vertical-align: center;
    height: 15vw;  
    width: 20.833333333333332vw;
    
}
@media screen and (max-width: 600px) {
  #neatly img {
    height: 184px;
    width: 255px;
  }
}
#ep img {
    display: block;
    vertical-align: center;
    /*background-color: #ffffff;*/
    height: 15vw;  
    width: 20.833333333333332vw; 
}
@media screen and (max-width: 600px) {
  #ep img {
    height: 184px;
    width: 255px;
  }
}



.label{
	font-family: "HelveticaNeue-Bold";
	margin-top: 0.9027777777777778vw;
	/*margin-left: 34.65;
	padding-left: 34.65;*/
	color: #2D363D;	
	font-size: 1.3888888888888888vw;
	text-align: left;
}
@media screen and (max-width: 600px) {
  .label {
    margin-top: 13px;
    font-size: 20px;
  }
}
.sublabel{
	font-family: "HelveticaNeue-Bold";
	padding-top: 0.3472222222222222vw;
	color: #83919C;	
	font-size: 1.3888888888888888vw;
	text-align: left;
}
@media screen and (max-width: 600px) {
  .sublabel {
    padding-top: 5px;
    font-size: 20px;
  }
}

.column1 {
  float: left;
  width: 33.33%;
  height: 23.75vw;
  /*vertical-align: left;*/
  /*background-color: #fffccc;*/
 }
 @media screen and (max-width: 600px) {
  .column1 {
    width: 225px;
    height: 288px;
  }
}
 /* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}
/*---------------------------------------------------*/
/*ABOUT ME CSS*/

 /*.aboutmediv{
 	 width: 43.81944444444444vw;
 }
  @media screen and (max-width: 600px) {
  .aboutmediv {
    height: 288px;
  }
}*/
.divaboutouter{
  
  width: 66.18vw;
  /*height: 39.72222222222222vw;*/
  height: 30.993745656706047vw;
  margin: auto;
  border: 1px solid;
  border-color: #61A5D7;
  padding: 0.6944444444444444vw;
  border-radius: 1.7361111111111112vw;
  /*display: flex;*/
  flex-wrap: nowrap;
  
}
@media screen and (max-width: 600px) {
  .divaboutouter {
  width: 257px;
  height: 1150px;
  
  }
} 
 .P{
  margin-left: 0.5555555555555556vw;
 }
 .aboutme{
 	font-family: "HelveticaNeue-Bold";
 	/*padding-top: 2.638888888888889vw;*/
  padding-top: 0.1vw;
 	padding-left:2.638888888888889vw;
 	line-height: 1.8055555555555556vw;
 	letter-spacing: -0.33px;
 	text-align: left;
 	color: #2D363D;	
	font-size: 1.3888888888888888vw;
 }
  @media screen and (max-width: 600px) {
  .aboutme {
  padding-top: 16px;
  
  line-height: 26px;
  letter-spacing: -0.26px;
  font-size: 14px;
  }
}

 .aboutme1{
 	font-family: "HelveticaNeue";
 	text-align: left;
 	padding-left:2.638888888888889vw;
 	line-height: 1.8055555555555556vw;
 	letter-spacing: -0.33px;
 	color: #83919C;	
	font-size: 1.3888888888888888vw;
 }
  @media screen and (max-width: 600px) {
  .aboutme1 {
  padding-top: 37.97361111111111px;
  
  line-height: 26px;
  letter-spacing: -0.26px;
  font-size: 14px;
  }
}

 p span 
{
    display: block;
}

.column1about{
  display:inline-block;
  float: left;
	width: 71%;
	/*vertical-align: right;*/
	padding-top: 2.638888888888889vw;
	
	/*float: right;
  float: left;*/
}
@media screen and (max-width: 600px) {
  .column1about {
  /*vertical-align: left;*/
  width: 90%;
  }
}

.column2about{
  display:inline-block;
  float:left;
	width: 29%;
	}
 @media screen and (max-width: 600px) {
  .column2about {
  /*vertical-align: left;*/
  width: 100%;
  }
}
#profile img {
    display: block;
    vertical-align: center;
    background-color: #ffffff;
    height: 20vw;  
    width: 15.13888888888889vw;
    
}
@media screen and (max-width: 600px) {
  #profile img {
    height: 288px;
    width: 218px;
  }
}
.row2:after {
  content: "";
  display: table;
  clear: both;
}
.picbutton{
  height: 20vw;  
  width: 15.13888888888889vw;
  margin-top: 2.638888888888889vw;
    /*come back to this */
    /*padding-left: 50px; */
    /*vertical-align: center;*/
    

}
@media screen and (max-width: 600px) {
  .picbutton {
    height: 288px;
    width: 218px;
    margin-top: 38px;
  }
}

.divabout2{
  width: 66.18vw;
  margin: auto;
  flex-wrap: nowrap;
  display: block;
  }
 @media screen and (max-width: 600px) {
  .divabout2 {
  width: 257px;
  }
} 


/*---------------------------------------------------*/

/*---------------------------------------------------*/
/*CONTACT CSS*/

.divcontact{
  width: 66.18vw;
  /*margin-bottom: 30px;*/
  margin: auto;
  flex-wrap: nowrap;
}
@media screen and (max-width: 600px) {
  .divcontact {
  width: 257px;
  /*margin-bottom: 30px;*/
  height: 635px;
  }
} 

.contactbutton{
  /*background-image: linear-gradient(-45deg, #AD9DED, #61A5D7);*/
  background-color: #ffffff;
  width:32.22222222222222vw;
  height:7.638888888888889vw;
  margin-bottom: 1.25vw;
  border-radius: 0.7638888888888888vw;
  /*margin-right: 17px;*/
  /*display: flex;*/
  border: 1px solid #61A5D7;
  /*position: absolute;*/
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  /*border-color: #AD9DED;*/
  -webkit-transition: 0.4s;
    -moz-transition: 0.4s;
    -o-transition: 0.4s;
    transition: 0.4s;
}

@media screen and (max-width: 600px) {
  .contactbutton {
  width:256px;
  height:110px;
  margin-top: 16px;
  border-radius: 11px;

  }
} 
/*.contactbutton:hover{
  background-image: linear-gradient(-45deg, #AD9DED, #61A5D7);
  
}*/

.buttontext-h2{
  font-family: "HelveticaNeue-Light";
  color: #2D363D;
  font-size: 2.0833333333333335vw;
  margin-left: 2.638888888888889vw;
  text-align: left;
}
@media screen and (max-width: 600px) {
  .buttontext-h2 {
  font-size: 30px;
  margin-left: 38px;
  }
} 
/*.buttontext-h2:hover{
  color: #ffffff;
}*/

.buttontext-h3{
  font-family: "HelveticaNeue-Light";
  color: #2D363D;
  font-size: 0.9722222222222222vw;
  margin-top: 0.2777777777777778vw;
  margin-left: 2.638888888888889vw;
  text-align: left;
}
@media screen and (max-width: 600px) {
  .buttontext-h3 {
  font-size: 14px;
  margin-left: 38px;
  }
} 

/*---------------------------------------------------*/

/*---------------------------------------------------*/
/*ADAPTIVE CSS*/
.container {
  /*background-color: #cccaaa;*/
  position: relative;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  /*transition: .5s ease;*/
}

@media screen and (max-width: 600px) {
  .overlay {
  display: none;
  }
} 

.shadow{
  /*box-shadow: -11px 9px 21px #ABB4D8;*/
  /*box-shadow:  -1.4986376021798364vw 1.2261580381471389vw 2.861035422343324vw #ECEEF6;*/
}

.container:hover .overlay {
  opacity: 1;
}